* {
  margin: 0;
  padding: 0;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #fff;
  font-size: 14px;
}

nav {
  margin: 0 0 10px 0;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

nav ul {
  margin: 0 10px;
  padding: 0;
}

nav ul li {
  margin: 0 30px;
  display: inline-block;
}

nav ul li a {
  padding: 15px 10px;
  text-decoration: none;
  color: #999;
  font-weight: #111;
}


#logo img {
  max-width: 150px;
  max-height: 150px;
  border: 2px solid #888;
  border-radius: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}


#logo p {
  text-align: center;
  padding: 0px 0px 0px 0px;
}

#logo h3 {
  text-align: center;
  padding: 10px 0px 0px 0px;
}


#aa {
font-size:15px;
color:gray;
}


section {
  padding: 0px 0px 150px 0px;
}

footer {
  padding: 0px 0px 0px 0px;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}